<%= render 'ping', ping: @ping %>
<% if @ping.user.id == current_user.id %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", pings_path %>
    |
    <%= link_to "Edit Post", edit_ping_path(@ping) %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", pings_path %>
  </div>
<% end %>